<% layout('layouts/boilerplate') %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Edit your Listing</h3>
      <form id="editListingForm" method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required id="title">
          <div class="invalid-feedback">Please provide a title.</div>
          <div class="valid-feedback">Title looks good</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required id="description"><%= listing.description %></textarea>
          <div class="invalid-feedback">Please provide a description.</div>
        </div>
        <div class="mb-3">
          Original Listing Image <br />
            <img src="<%= originalImageUrl %>" />
        </div>
        
  
        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input name="listing[image]" type="file" class="form-control" />
         </div>

        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required id="price">
          <div class="invalid-feedback">Please provide a valid price.</div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required id="country">
          <div class="invalid-feedback">Please provide a country.</div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required id="location">
          <div class="invalid-feedback">Please provide a location.</div>
        </div>

        <button class="btn btn-dark add-btn" type="submit">Edit</button>
      </form>
    </div>
  </div>

  <script>
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        var form = document.getElementById('editListingForm');
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      }, false);
    })();
  </script>
</body>
