<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
    <div class="col-8 offset-2 title">
        <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-3 listing-card">
        <img src="<%= listing.image %>" class="card-img-top show-img show-card" alt="listing_image">
        <div class="card-body">
            <p><%= listing.description %></p>
            <p>&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
            <p><%= listing.location %> <br>
            <%= listing.country %></p>
        </div>
    </div>
    <br>
    <div class="btns d-flex justify-content-center">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn mx-2">Edit</a>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" class="mx-2">
            <button class="btn btn-dark" type="submit">Delete</button>   
        </form>
    </div>
    <div class="col-8 offset-2 mb-3">
        <hr/>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            </div>
            <button class="btn btn-outline-dark" type="submit">Submit</button>
        </form>

        <hr />
        <h4>All Reviews</h4>
        <div class="row">
            <% for(let review of listing.reviews) { %>
                <div class="card col-5 mb-3 ms-3">
                    <div class="card-body">
                        <h5 class="card-title">Reviewer Name</h5>
                        <p class="card-text"><%= review.comment %></p>
                        <p class="card-text"><%= review.rating %> stars</p>
                        <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                            <button class="btn btn-dark" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
